{% load static %}
<!--
Navigation-->

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        {% if user.is_authenticated and user.user_pics.profile_pic %}
        <a class="navbar-brand" href="{% url 'profile_pics' %}"> Hello 
            <img class="profile-pics" src="{{ user.user_pics.profile_pic.url }}" alt="Profile Picture"/></a>
        {% elif user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'profile_pics' %}">Hello 
            <img class="profile-pics" src="{% static 'assets/img/default-profile.jpg' %}" alt="Default Profile Picture"/>
        </a>
        {% else %}
        <a class="navbar-brand">Let's Connect</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "index" %}">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "update_profile" %}">Update Profile</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "about" %}">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "logout" %}">Logout</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "contact" %}">Contact</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "index" %}">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "register" %}">Register</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "login" %}">Login</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "about" %}">About</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "contact" %}">Contact</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<style>
    .profile-pics{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }            

</style>