{% extends "base.html" %} 

{% load static %}

{% block title%}Clean Blog - Start Bootstrap Theme {% endblock %}

{% block style %} {% endblock %}

{% block content %}
      <header class="masthead" style="background-image:">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                  <h2>Are you sure you want to delete "{{ post.title }}"?</h2>
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" onclick="window.location.href='{% url 'index' %}'">Yes, delete</button>
                </form>
              </div>
            </div>
        </div>
      </div>
      </header>
{% endblock %}